/* Alteração em tudo */
* {
    margin: 0;
    padding: 0;
    font-weight: 400;

}

/* Header */
.navinf {
    display: flex;
    gap: 20px;
}

.inf {
    background-color: #5D5650;
    display: flex;
    justify-content: space-between;
    padding-left: 154px;
    height: 25px;
    font-family: Roboto;
    font-size: 14px;
    padding-top: 6px;
    padding-right: 154px;

}

.navinf p {
    height: 24px;
}

.navinf img {
    height: 13px;
    width: 13px;
}

.navlogos {
    padding-top: 2px;
    display: flex;
    width: 13px;
    height: 13px;
    gap: 20px;
}

/* links de redirecionamento */
.links {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    padding-right: 60px;
    height: 60px;
    padding-top: 40px;
    font-family: Roboto;
    font-size: 18px;
}

.links a {
    color: #858585;
    text-decoration: none;
}

.links .serviços {
    color: #B2B74A;
}

.loja {
    transform: translateY(-25%);
    background-color: #B2B74A;
    width: 143px;
    height: 54px;
    border: none;
}

/* Banner */
.banner img {
    width: 100%;
    height: 407px;
    position: relative;
}

.banner_nomes {
    font-family: BenchNine;
    font-size: 68px;
    position: absolute;
    top: 23%;
    z-index: 2;
    left: 95px;
    line-height: 80PX;

}

.banner_nomes a {
    color: #FFFFFF;
    text-decoration: none;
}

/* Transportes */
.transporte {
    text-align: center;
    margin-top: 25px;
    color: #413C38;
    width: 100%;

}

.transporte h1 {
    font-family: BenchNine;
    font-size: 75px;
}

.transporte pre {
    font-family: BenchNine;
    font-size: 24px;
    line-height: 33.6px;
}

.transporte .trabalho {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 264px;
    gap: 5px;
    padding-top: 25px;
    overflow: auto;

}

/* Galeria */
.galeria h1 {
    padding-top: 5px;
    color: #413C38;
    font-family: BenchNine;
    font-size: 75px;
    text-align: center;
}

.galeria img {
    width: 328px;
    height: 219px;
}

.galeria .primeira {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    overflow: auto;
    justify-content: center;
}

.galeria .segunda {
    padding-top: 10px;
    display: flex;
    gap: 10px;
    overflow: auto;
    justify-content: center;
}

/* Nossa Empresa */
.historia h1 {
    font-family: BenchNine;
    font-size: 75px;
    color: #413C38;
    padding-top: 15px;
    text-align: center;
}

.historia .parteum {
    gap: 25px;
    display: flex;
    overflow: auto;
    justify-content: center;
}

.parteum img {
    width: 591px;
    height: 396px;
}

.parteum p {
    padding-left: 40px;
    font-family: Roboto;
    color: #858585;
    width: 345px;
    height: 328px;
    text-align: justify;
    font-size: 18px;
}

.partedois {
    padding-top: 13px;
    display: flex;
    overflow: auto;
    justify-content: center;
}

/* Catalogo */
.catalogo {
    padding-top: 15px;
}

.catalogo img {
    position: relative;
    width: 100%;
    height: 583px;
    padding-top: 13px;
}

.catalogo .cattext {
    position: absolute;
    z-index: 3;
    text-align: center;
    font-family: BenchNine;
    left: 50%;
    padding-top: 230px;
    transform: translateX(-50%);
}

.cattext h1 {
    font-size: 75px;
    color: #FFFFFF;
}

.cattext button {
    color: #FFFFFF;
    background-color: #5D5650;
    border: 1px solid white;
    width: 303px;
    height: 55px;
    font-size: 15px;
    text-transform: uppercase;
}

/* Rodape */
footer {
    padding-top: 30px;
    margin-top: -5px;
    background-color: #5D5650;
    height: 254px;
}

.partes {
    display: flex;
    justify-content: space-between;
    margin-inline: 90px;
}

.primeiraparte {
    width: 306px;
    height: 122.81px;
    font-family: Roboto;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 20px;
    line-height: 30px;
}

.segundaparte {
    width: 231px;
    height: 110.53px;
    font-family: Roboto;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 22px;
}

footer .autor {
    padding-top: 85px;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    color: #D1D1D1;
}